html {
    background-image: url('assets/images/colibri.svg');
    background-repeat: no-repeat;
    background-position: top 10% right -18%;
}



ul.Poles {
    display: inline-flex;
    list-style: none;
    margin: auto;
    margin-top: 50px;
}


h1 {
    text-align: center;
    border: 5px;
    border-style: double;
    padding: 20px;
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
}


ul.Pole1 {
    background-color: rgba(255,228,196,0.5);
    width: 200px;
    text-align: left;
    margin-top: 10%;
    margin-left: 10%;
    padding: -10%;
    border-style: outset;
}


ul.Pole2 {
    background-color: rgba(0,255,255,0.5);
    width: 200px;
    text-align: left;
    margin-top: 10%;
    margin-left: 15%;
    padding: -10%;
    border-style: outset;
}


ul.Pole3 {
    background-color: rgba(22,184,135,0.5);
    width: 200px;
    text-align: left;
    margin-top: 10%;
    margin-left:20%;
    padding: -10%;
    border-style: outset;
}